apiVersion: v1
kind: Secret
metadata:
    name: minio
    namespace: storage-system
stringData:
    MINIO_ROOT_PASSWORD: {{ bootstrap_minio_password }}
    MINIO_ROOT_USER: {{ bootstrap_minio_user }}
