---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
  SECRET_AUTHELIA_USER_FIQRI_PASSWORD: "{{ bootstrap_authelia_user_fiqri_password }}"
  SECRET_AUTHELIA_USER_FIQRI_EMAIL: "{{ bootstrap_authelia_user_fiqri_email }}"
  SECRET_AUTHELIA_USER_AIN_PASSWORD: "{{ bootstrap_authelia_user_ain_password }}"
  SECRET_AUTHELIA_USER_AIN_EMAIL: "{{ bootstrap_authelia_user_ain_email }}"
  SECRET_AUTHELIA_USER_NURIN_PASSWORD: "{{ bootstrap_authelia_user_nurin_password }}"
  SECRET_AUTHELIA_USER_NURIN_EMAIL: "{{ bootstrap_authelia_user_nurin_email }}"
  SECRET_AUTHELIA_USER_VISITOR_PASSWORD: "{{ bootstrap_authelia_user_visitor_password }}"
  SECRET_AUTHELIA_USER_VISITOR_EMAIL: "{{ bootstrap_authelia_user_visitor_email }}"
  SECRET_POSTGRES_HOST: "{{ bootstrap_postgres_host }}" 
  SECRET_SMTP_USER: "{{ bootstrap_smtp_user }}"
  SECRET_AUTHELIA_POSTGRES_PASSWORD: "{{ bootstrap_authelia_postgres_password }}"
  SECRET_AUTHELIA_JWT_SECRET: "{{ bootstrap_authelia_jwt_secret }}"
  SECRET_REDIS_PASSWORD: "{{ bootstrap_redis_password }}"
  SECRET_AUTHELIA_SMTP_PASSWORD: "{{ bootstrap_authelia_smtp_password }}"
  SECRET_AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ bootstrap_authelia_storage_encryption_key }}"
  # SECRET_BACKUP_SERVER: "{{ bootstrap_backup_server }}"