apiVersion: v1
kind: Secret
metadata:
    name: postgres-secret
    namespace: database
stringData:
    MINIO_ACCESS_KEY: ENC[AES256_GCM,data:VCpn8Yt1BLquv/EcGF9e2A==,iv:grgGMaEnbHd1qSSeRKbIM7wzd5iZX+VC6t8wS/lu8Xg=,tag:bLG32HtbMJXs+BkHXJJibg==,type:str]
    MINIO_SECRET_KEY: ENC[AES256_GCM,data:05WthYkGWs2J6+F5mSBqcQSBG/rvgD14AGUstkmNx68=,iv:qEPxk0ojcALy9/oSY9VnjHa6yWUcQSYGqdZ4ADjxuxs=,tag:18mm99UqraPnOuefZQ1FNw==,type:str]
    password: ENC[AES256_GCM,data:05cOkQk/SFlwIpj9aLUzGQ==,iv:++wW+fYk069qOWwnUL4TOr4FXUDjsoZFaJWG9f1N238=,tag:ozbgMnSl13L/hEAaliHyKA==,type:str]
    username: ENC[AES256_GCM,data:F/oNAVxwysmUWuOYj39HgocVxKX91zBblF1wwVkG/DA=,iv:zblpRmAAxIt4E78MeMl2CFMX3U4NEVG3v8kmVdbiI4Q=,tag:MjcXVQULXvZhIKLidjO6bw==,type:str]
type: Opaque
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1ncefsf8cvx4qchq4v5vvnzrvsk0wt4qjn462t6st8p5yz8etlapqyert6l
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBza1RjempQemJoa3FENDJ5
            aUpjSUdpLzE0N0NlTnpKdVhWYjBTWnpTZDBJCktIYlJUb0twRkhXdEtHa1dqVVpn
            VlVDU0UzVHVuV1VJckY3WlVuQVJQM1UKLS0tIEVuK1BtMnpMNTdqNkR1T0dBcXZv
            Z1N0dm9UTHdnWnZwcmhRNElxTG5RN0kK0cnj0vaYToo/jecDnA0msTVdPudioF1J
            266d6hPqbl+CZ1dP2PjGva8Uy37IR7vEK3uR4pWxTXj9/pjyZ5s0mg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2023-10-31T13:10:34Z"
    mac: ENC[AES256_GCM,data:Y7YjZ+xwS6HPl2q1lWX800+WZgw/4qLXt+Nw8odkMJVnnwXMEKCITprubb3MFSMw7Ky+i5jL2M+ec2Xopc9tmw5GcuAF2TgmWW9j7XxsCBk6y1/J0vcm+Dwfnt4Agq5eJr3jS94wYrb8yda4DZWB4E+thlMRHzD6wTIRwzBf1H4=,iv:JUTMLRlidiAgEp1m0n4f/jXcUhknESYfzvrmiSA8JXY=,tag:n5boevAJ9/aPva9b4VwkUw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.8.0
