apiVersion: v1
kind: Secret
metadata:
    name: home-assistant-postgresql-secret
    namespace: home
stringData:
    postgresql-password: "{{ bootstrap_authelia_storage_postgres_password }}"
    postgresql-postgres-password: "{{ bootstrap_authelia_storage_postgres_password }}"
