apiVersion: v1
kind: Secret
metadata:
    name: pgadmin-secrets
    namespace: dbms
stringData:
    email: "{{ bootstrap_pgadmin_email }}"
    password: "{{ bootstrap_pgadmin_password }}"
    PGADMIN_DEFAULT_PASSWORD: "{{ bootstrap_pgadmin_default_password }}"
