apiVersion: v1
kind: Secret
metadata:
    name: cloudnative-pg-secret
    namespace: database
stringData:
    MINIO_ACCESS_KEY: {{ bootstrap_minio_access_key }}
    MINIO_SECRET_KEY: {{ bootstrap_minio_secret_key }}
    password: {{ bootstrap_minio_user }}
    username: {{ bootstrap_minio_password }}
type: Opaque